//Хедер

header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $additional-text-color;
}

.portfolioheader {
  border-bottom: 1px solid #ececec;
}

header .container {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

header a {
  text-decoration: none;
}

.address {
  font-style: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.logo {
  display: block;

  font-family: $logo-text;
  color: $additional-text-color;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    margin-right: 70px;
    display: flex;
    justify-content: flex-start;
  }
}

.active {
  color: $active-color;
}

.nav-item .nav-linc.activenav {
  // position: relative;
  color: $active-color;

  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.activenav::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: $active-color;

  border-radius: 2px;
}

.nav-list {
  margin-top: 60px;
  // position: absolute;
  // display: flex;
  // text-align: center;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;

  @media screen and (min-width: 768px) {
    display: block;
    display: flex;
    // padding-top: 32px;
    // padding-bottom: 32px;
    margin-top: 0px;
    margin-right: 84px;
  }
}

.nav-item {
  transition: color $timing-funktion;
}

.nav-item:not(:last-child) {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.nav-linc {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  // display: block;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;

    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
  }
}

.nav-item .nav-linc {
  color: $additional-text-color;
  padding-bottom: 8px;
  transition: color $timing-funktion;

  @media screen and (min-width: 768px) {
    display: block;
    padding-bottom: 32px;
    // padding-top: 32px;
  }

  &:hover,
  &:focus {
    color: $active-color;
  }
}

.nav-item .nav-linc::before {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;

  background-color: $active-color;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  transform: scaleX(0);
  transition: transform $timing-funktion;
}

.nav-item .nav-linc:hover::before {
  transform: scaleX(1);
}

.contacts-list {
  // display: flex;
  flex-direction: column;
  justify-content: center;

  // margin-right: auto;
  align-items: center;
  // margin-left: 260px;
  margin-top: 68px;
  margin-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  // height: 80px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    align-content: flex-start;
    // height: 80px;
    // text-align: center;
    margin-top: 25px;

    font-size: 12px;
    line-height: 14px;
  }
}

.contacts-item:not(:last-child) {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.icon-mail,
.icon-phone {
  // display: inline-block;
  margin-right: 10px;
}

.headericon {
  align-items: center;

  color: $main-text-color;
  fill: $main-text-color;
  transition: color $timing-funktion, fill $timing-funktion;

  &:hover,
  &:focus {
    fill: $active-color;
    color: $active-color;
  }
}

.logo-and-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.header-button {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $active-color;
    color: $active-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-button .icon-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-button.is-open .icon-menu {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-button.is-open .icon-cross {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: absolute;
  display: none;

  height: auto;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 10;

  text-align: center;
  background-color: $white-color;
  border-top: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    position: relative;
    height: 80px;
    display: flex;
    text-align: start;
    top: 0px;
    background-color: transparent;
    // width: unset;
    // text-align: unset;

    // position: unset;
    // align-items: flex-start;
    // justify-content: flex-start;
    // align-content: flex-start;
    // display: inline-block;
  }
}
